html {
	box-sizing: border-box;
  background: url("images/bg.jpg") no-repeat center center;
  background-size: cover;
	background-attachment: fixed;
}

*: {
	box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
  grid-template-areas:
    "header header sidebar"
    "stock fuel sidebar"
    "gravity speed sidebar"
    "footer footer footer";
}

div {
  background-color: rgba(255, 255, 255, 0.3);
	color: #FFFFFF;
	border-radius: 20px;
	width: 250px;
	height: 250px;
	margin-left: 20px;
}

p {
  padding-left: 10%;
	font-size: 30px;
	font-weight: 500;
}

h3 {
  text-align: center;
  margin-top: -5%;
	color: #2e2e2e;
}

.header {
	grid-area: header;
	display: flex;
	background: url("images/logo2x.png") no-repeat center center;
	justify-content: center;
	height: 100px;
	width: auto;
}

.sidebar {
	grid-area: sidebar;
	width: 100%;
	height: 100%;
}

.stock {
	grid-area: stock;
	justify-self: end;
}

.fuel {
	grid-area: fuel;
}

.gravity {
	grid-area: gravity;
	justify-self: end;
}

.speed {
	grid-area: speed;
}

.footer {
	display: flex;
}


@media only screen and (max-width: 1620px) {

	p {
	  padding-left: 10%;
		font-size: 20px;
		font-weight: 500;
	}

}

@media only screen and (max-width: 1320px) {

}

@media only screen and (max-width: 1020px) {

	div {
	  background-color: rgba(255, 255, 255, 0.3);
		color: #FFFFFF;
		border-radius: 20px;
		width: 250px;
		height: 250px;
		margin-left: 40px;
		margin-right: -20px;
	}

}

@media only screen and (max-width: 768px) {

	body {
	  font-family: 'Montserrat', sans-serif;
	  display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
	  grid-template-areas:
	    "header header"
	    "stock fuel"
	    "gravity speed"
	    "footer footer";
	}

	p {
	  padding-left: 10%;
		font-size: 20px;
		font-weight: 500;
	}

	h3 {
	  text-align: center;
	  margin-top: -5%;
	}

	div {
	  background-color: rgba(255, 255, 255, 0.3);
		color: #FFFFFF;
		border-radius: 20px;
		width: 250px;
		height: 250px;
		margin-left: 10px;
		margin-right: 10px;
	}

}

@media only screen and (max-width: 550px) {

	body {
	  font-family: 'Montserrat', sans-serif;
	  display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
	  grid-template-areas:
	    "header"
	    "stock"
			"fuel"
	    "gravity"
			"speed"
	    "foot";
	}

	.stock {
		grid-area: stock;
		justify-self: center;
	}

	.fuel {
		grid-area: fuel;
		justify-self: center;
	}

	.gravity {
		grid-area: gravity;
		justify-self: center;
	}

	.speed {
		grid-area: speed;
		justify-self: center;
	}

}
