html {
	box-sizing: border-box;
  background: url("images/bg.jpg") no-repeat center center;
  background-size: cover;
	background-attachment: fixed;
}

*: {
	box-sizing: inherit;
}

body {
	font-family: 'Orbitron', sans-serif;
	margin-top: 60px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
  grid-template-areas:
    "header header sidebar"
    "stock planets sidebar"
    "distance speed sidebar";
}


/* GENERAL STYLES */
div {
	color: rgba(40, 49, 55, 0.3);
	border-radius: 10px;
	width: 300px;
	height: 300px;
	margin-left: 20px;
}

p {
	font-size: 20px;
	font-weight: 500;
  padding-left: 10%;
}


/* STYLES HEADER */
.header {
	grid-area: header;
	background: url("images/logo.png") no-repeat center center;
	height: 100px;
	width: auto;
	margin-left: 5%;
}


/* STYLES SIDEBAR */
.sidebar {
	grid-area: sidebar;
	width: 100%;
	height: 100%;
}


/* STYLES STOCK */
.myChartStock {
	width: 210px;
	height: 210px;
	margin-top: 0%;
	margin-left: 16%;
}

.stock {
	grid-area: stock;
	background-color: rgba(255, 255, 255, 0.85);
	justify-self: end;
}


/* STYLES PLANETS */
.myChartPlanets {
	width: 200px;
	height: 200px;
	margin-top: 0%;
	margin-left: 14%;
}

.planets {
	grid-area: planets;
	background-color: rgba(255, 255, 255, 0.85);
}

h3 {
	font-size: 10px;
	padding-left: 8%;
	padding-top: 2%;
}


/* STYLES DISTANCE */
.myChartDistance {
	width: 160px;
	height: 160px;
	margin-top: 14%;
	margin-left: 23%;
}

.distance {
	grid-area: distance;
	background-color: rgba(255, 255, 255, 0.8);
	justify-self: end;
}

#landed {
	font-size: 30px;
	text-align: center;
	margin-top: 65%;
}

/* STYLES SPEED */
.myChartSpeed {
	width: 180px;
	height: 180px;
}

.speed {
	grid-area: speed;
	background-color: rgba(255, 255, 255, 0.8);
}

#number {
	color: #283137;
	text-align: center;
	padding-left: 6%;
	padding-right: 10%;
	padding-top: 20%;
}

#counter {
	font-size: 45px;
	color: rgba(40, 49, 55, 0.3);
}

#eenheid {
	font-size: 25px;
}


@media only screen and (max-width: 1620px) {

	body {
		margin-top: 25px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 20px;
	  grid-template-areas:
	    "header header sidebar"
	    "stock planets sidebar"
	    "distance speed sidebar";
	}

	/* GENERAL STYLES */
	div {
		color: rgba(40, 49, 55, 0.3);
		border-radius: 10px;
		width: 250px;
		height: 250px;
		margin-left: 20px;
	}

	p {
		font-size: 20px;
		font-weight: 500;
	  padding-left: 10%;
	}

	/* STYLES STOCK */
	.myChartStock {
		width: 200px;
		height: 200px;
		margin-top: -6%;
		margin-left: 10%;
	}

	/* STYLES PlANETS */
	.myChartPlanets {
		width: 180px;
		height: 180px;
		margin-top: -6%;
		margin-left: 12%;
	}

	h3 {
		padding-left: 8%;
		padding-top: 0%;
	}

	/* STYLES DISTANCE*/
	.myChartDistance {
		width: 150px;
		height: 150px;
		margin-top: 12%;
		margin-left: 19%;
	}

	#landed {
		font-size: 25px;
		margin-top: 52%;
	}

	/* STYLES SPEED */
	#number {
		padding-top: 15%;
	}
}

@media only screen and (max-width: 1020px) {

	body {
		margin-top: 25px;
		margin-bottom: 0px;
		margin-left: 50px;
		margin-right: 0px;
	  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 20px;
	  grid-template-areas:
	    "header header sidebar"
	    "stock planets sidebar"
	    "distance speed sidebar";
	}

	/* GENERAL STYLES */
	div {
		color: rgba(40, 49, 55, 0.3);;
		border-radius: 10px;
		width: 250px;
		height: 250px;
	}
}

@media only screen and (max-width: 768px) {

	body {
		margin-top: 30px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	  display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
	  grid-template-areas:
	    "header header"
	    "stock planets"
	    "distance speed";
	}

	/* GENERAL STYLES */
	p {
		font-size: 20px;
		font-weight: 500;
	  padding-left: 10%;
	}

	div {
		color: rgba(40, 49, 55, 0.3);
		border-radius: 10px;
		width: 250px;
		height: 250px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 550px) {

	body {
	  display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
	  grid-template-areas:
	    "header"
	    "stock"
			"planets"
	    "distance"
			"speed";
	}

	/* STYLES STOCK */
	.stock {
		grid-area: stock;
		justify-self: center;
	}

	/* STYLES PLANETS */
	.planets {
		grid-area: planets;
		justify-self: center;
	}

	/* STYLES DISTANCE*/
	.distance {
		grid-area: distance;
		justify-self: center;
	}

	/* STYLES SPEED */
	.speed {
		grid-area: speed;
		justify-self: center;
	}
}
