html {
	box-sizing: border-box;
  background: url("images/bg.jpg") no-repeat center center;
  background-size: cover;
	background-attachment: fixed;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "stock fuel sidebar sidebar"
    "gravity speed sidebar sidebar"
    "foot foot foot foot";
}

header {
	grid-area: header;
	background: url("images/logo2x.png") no-repeat center center;
	justify-content: flex-start;
	height: 100px;
	width: auto;
}

.sidebar {
	background-color: red;
	grid-area: sidebar;
	width: 100%;
	height: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.3);
	color: #FFFFFF;
	border-radius: 20px;
  width: 300px;
  height: 300px;
}

p {
  padding-left: 10%;
	font-size: 30px;
	font-weight: 500;
}

h3 {
  text-align: center;
  margin-top: -5%;
}

.stock {
	grid-area: stock;
}

.fuel {
	grid-area: fuel;
}

.gravity {
	grid-area: gravity;
}

.speed {
	grid-area: speed;
}

.stock, .gravity {
	margin-left: 30%;
	margin-right: 8%;
}

.stock, .fuel {
	margin-top: 10%;
	margin-bottom: 10%;
}


@media only screen and (max-width: 1620px) {

	div {
	  background-color: rgba(255, 255, 255, 0.3);
		color: #FFFFFF;
		border-radius: 20px;
		width: 250px;
		height: 250px;
	}

	p {
	  padding-left: 10%;
		font-size: 20px;
		font-weight: 500;
	}

	h3 {
	  text-align: center;
	  margin-top: -5%;
	}

	.stock, .fuel {
		margin-top: 25%;
		margin-bottom: 10%;
	}

	.stock, .gravity {
		margin-left: 40%;
		margin-right: 8%;
	}
}

@media only screen and (max-width: 1320px) {

	div {
		background-color: rgba(255, 255, 255, 0.3);
		color: #FFFFFF;
		border-radius: 20px;
		width: 200px;
		height: 200px;
	}

	p {
		padding-left: 10%;
		font-size: 20px;
		font-weight: 500;
	}

	h3 {
		text-align: center;
		margin-top: -5%;

}

@media only screen and (max-width: 1020px) {

	div {
		background-color: rgba(255, 255, 255, 0.3);
		color: #FFFFFF;
		border-radius: 20px;
		width: 200px;
		height: 200px;
	}

	p {
		padding-left: 10%;
		font-size: 20px;
		font-weight: 500;
	}

	h3 {
		text-align: center;
		margin-top: -5%;
	}

	.stock, .fuel {
		margin-top: 20%;
		margin-bottom: 10%;
	}

	.stock, .gravity {
		margin-left: 30%;
		margin-right: 8%;
	}
}

@media only screen and (max-width: 520px) {

	body {
	  font-family: 'Montserrat', sans-serif;
	  margin: 0px;
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-areas:
	    "header"
	    "stock"
			"fuel"
	    "gravity"
			"speed"
	    "foot";
	}

	div {
	  background-color: rgba(255, 255, 255, 0.3);
		color: #FFFFFF;
		border-radius: 20px;
	  width: 250px;
	  height: 250px;
	}

	p {
	  padding-left: 10%;
		font-size: 20px;
		font-weight: 500;
	}

	h3 {
	  text-align: center;
	  margin-top: -5%;
	}

	.stock, .fuel, .gravity, .speed {
		margin-bottom: 10%;
		margin-left: 20%;
	}

}
